BIND_HOST=127.0.0.1
SERVER_PORT=8081
SERVER_MODE=release
TZ=Asia/Shanghai
POSTGRES_USER=sub2api
POSTGRES_PASSWORD=
POSTGRES_DB=sub2api
REDIS_PASSWORD=
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SECRET=
TOTP_ENCRYPTION_KEY=
SUB2API_IMAGE=
SUB2API_VERSION=
